<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit", method="post">
    <label for="python">Python</label><br>
    <input type="text" id="python" name="python" value="0"><br>

    <label for="machinelearning">Machine Learning</label><br>
    <input type="text" id="machinelearning" name="machinelearning" value="0"><br>

    <label for="stats">Stats</label><br>
    <input type="text" id="stats" name="stats" value="0"><br>
    
    <label for="datascience">Data Science</label><br>
    <input type="text" id="datascience" name="datascience" value="0"><br>

    <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form data will be sent to a page called "/submit".<p>

</body>
</html>
